/* your-main-css-file.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: hsl(0, 0%, 9%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bdbdbd; 
}

/* In your global CSS file (e.g., globals.css) */
.header-menu .ant-menu-item,
.header-menu .ant-menu-item a {
  color: white !important; /* Use !important to force override Ant Design defaults */
}

/* Also, style the hover/active state */
.header-menu .ant-menu-item:hover,
.header-menu .ant-menu-item-selected {
  color: #ae92da !important; /* Example hover/selected color */
}